<div class="contenedor">
  <div class="info-bussine">
    <h1> Bienvenidos al curso de angular </h1>
    <p class="info"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. A porro sapiente laboriosam accusamus dolor
    dolores vitae voluptatibus totam doloremque veniam, libero officia? Repellendus ut ipsam necessitatibus, amet saepe
    architecto error.</p>
  </div>
  <div class="form-login">
      <form class="box-login" action="">
        <label for="">Correo:</label>
        <input type="text">
        <label for="">Contraseña:</label>
        <input type="text">
        <button>Aceptar</button>
      </form>
  </div>
</div>